* {
    box-sizing: border-box;
  }

  .tabel {
    margin: auto;
    max-width: 280px;
    max-height: 653px;
    font-family: 'Segoe UI';
  }
  table {
    width: 120%;
    margin: auto;
    text-align: left;
  }

  th {
    background-color: #acc2d6;
    color: white;
    font-weight: bolder;
  }

  td {
    font-size: small;
    font-weight: bold;
    color: rgb(85, 80, 87);
  }
  .ganjil {
    background-color: #e2eaef;
  }
  .genap {
    background-color: aliceblue;
  }